/* Main */

	#team {
		background-color: _palette(bg-alt);

		&.alt {
			background-color: transparent;
			border-bottom: solid 1px _palette(border);
		}

		h2.section-heading {
			padding: 0.8em 0 0.8em 0;
			margin-bottom: 0;
			background-color: #1c2038a8;
			font-style: italic;
			font-size: 2.25em;
			border-left: 2px solid white;
			text-align: center;

			&.team {
				border-top: solid 2px _palette(border);
			}

			&.work {
				border-top: solid 1px _palette(border);
			}
		}

		@include breakpoint(small) {

			h2.section-heading {
				font-size: 2em;
			}
		}
	}

	@include breakpoint(small) {
		#team {
			margin-top: 0.5em;
		}
	}